<div class="row">
  <div class="col-md-12">
    <ng-container *ngIf="!history.length">
      <h2>Please search any city to load the Search History!</h2>
    </ng-container>
    <ng-container *ngFor="let weartherDetails of history">
      <div
        class="card"
        style="width: 18rem; margin: 20px; float: left"
        *ngIf="weartherDetails"
      >
        <img src="" class="card-img-top" alt="" />
        <div class="card-body">
          <h5 class="card-title">{{ weartherDetails?.name }}</h5>
          <p class="card-text" *ngFor="let weather of weartherDetails.weather">
            {{ weather.description }}
          </p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Humidity is {{ weartherDetails?.main?.humidity }}
          </li>
          <li class="list-group-item">
            Wind Speed is {{ weartherDetails?.wind?.speed }} km/h
          </li>
          <li class="list-group-item">
            {{ weartherDetails?.clouds?.all }}% of Clouds
          </li>
        </ul>
        <div class="card-body">
          <a class="card-link">Card link</a>
          <a class="card-link">Another link</a>
        </div>
      </div>
    </ng-container>
  </div>
</div>
