<div *ngIf="!weartherDetails">
  Please enter the City Name to load the weather details.
</div>
<div
  class="card"
  style="width: 18rem; margin: 20px; float: left"
  *ngIf="weartherDetails"
>
  <img src="" class="card-img-top" alt="" />
  <div class="card-body">
    <h5 class="card-title">{{ weartherDetails?.name }}</h5>
    <p class="card-text" *ngFor="let weather of weartherDetails.weather">
      {{ weather.description }}
    </p>
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      Humidity is {{ weartherDetails?.main?.humidity }}
    </li>
    <li class="list-group-item">
      Wind Speed is {{ weartherDetails?.wind?.speed }} km/h
    </li>
    <li class="list-group-item">
      {{ weartherDetails?.clouds?.all }}% of Clouds
    </li>
  </ul>
  <div class="card-body" *ngIf="isRefreshAvailable">
    <a class="card-link" style="cursor: pointer" (click)="refresh()">Refresh</a>
  </div>
</div>
