<div class="row">
  <div class="col-md-12 text-center">
    <h3>Please fill up the form to be a part of Success</h3>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form [formGroup]="signUpFormGroup">
      <div class="mb-3">
        <label class="form-label">First Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="firstName"
          [ngClass]="{
            'error-field': isSubmitClicked && firstNameRequiredValidation
          }"
        />
        <div
          class="form-text"
          style="color: red"
          *ngIf="isSubmitClicked && firstNameRequiredValidation"
        >
          First field is required.
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Last Name</label>
        <input
          type="text"
          class="form-control"
          formControlName="lastName"
          [ngClass]="{
            'error-field': isSubmitClicked && lastNameRequiredValidation
          }"
        />
        <div
          class="form-text"
          style="color: red"
          *ngIf="isSubmitClicked && lastNameRequiredValidation"
        >
          Last field is required.
        </div>
      </div>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Email address</label>
        <input
          type="email"
          class="form-control"
          id="exampleInputEmail1"
          aria-describedby="emailHelp"
          formControlName="email"
          [ngClass]="{
            'error-field':
              isSubmitClicked &&
              (emailRequiredValidation || emailPatternValidation)
          }"
        />
        <div id="emailHelp" class="form-text">
          We'll never share your email with anyone else.
        </div>
        <div
          class="form-text"
          style="color: red"
          *ngIf="isSubmitClicked && emailRequiredValidation"
        >
          Email field is required.
        </div>
        <div
          class="form-text"
          style="color: red"
          *ngIf="isSubmitClicked && emailPatternValidation"
        >
          Please enter a valid Email
        </div>
      </div>
      <div class="mb-3">
        <label class="form-label">Contact Number</label>
        <input
          type="text"
          class="form-control"
          formControlName="contactNumber"
        />
      </div>
      <div class="mb-3">
        <label class="form-label">Gender</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="flexRadioDefault1"
            formControlName="gender"
            value="male"
          />
          <label class="form-check-label" for="flexRadioDefault1"> Male </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="flexRadioDefault2"
            value="female"
            formControlName="gender"
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Female
          </label>
        </div>
        <div class="form-check">
          <input
            class="form-check-input"
            type="radio"
            name="gender"
            id="flexRadioDefault3"
            formControlName="gender"
            value="other"
          />
          <label class="form-check-label" for="flexRadioDefault3">
            Other
          </label>
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label">Martial Status</label>
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            value=""
            id="flexCheckDefault"
            formControlName="martialStatus"
          />
          <label class="form-check-label" for="flexCheckDefault">
            Still Married ?
          </label>
        </div>
      </div>

      <div class="mb-3">
        <label>Address List</label>
        <ng-container formArrayName="addressList">
          <ng-container
            *ngFor="let address of addressListFormArray.controls; let i = index"
          >
            <form class="address-from" [formGroupName]="i">
              <div class="row">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Address Line 1</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="addressLine1"
                      [ngClass]="{
                        'error-field':
                          isSubmitClicked && getAddressLine1Validation(i)
                      }"
                    />
                    <div
                      class="form-text"
                      style="color: red"
                      *ngIf="isSubmitClicked && getAddressLine1Validation(i)"
                    >
                      Address Line 1 field is required.
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Address Line 2</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="addressLine2"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label">City</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="city"
                      [ngClass]="{
                        'error-field': isSubmitClicked && getCityValidation(i)
                      }"
                    />
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label">State</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="state"
                      [ngClass]="{
                        'error-field': isSubmitClicked && getStateValidation(i)
                      }"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Country</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="country"
                      [ngClass]="{
                        'error-field':
                          isSubmitClicked && getCountryValidation(i)
                      }"
                    />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label class="form-label">Zipcode</label>
                    <input
                      type="text"
                      class="form-control"
                      formControlName="zipCode"
                      [ngClass]="{
                        'error-field':
                          isSubmitClicked && getZipcodeValidation(i)
                      }"
                    />
                  </div>
                </div>
              </div>
            </form>
          </ng-container>
        </ng-container>
        <button class="btn btn-primary" (click)="addMoreAddress()">
          + Add More Address
        </button>
      </div>

      <button class="btn btn-primary" (click)="submit()">Submit</button>
    </form>
  </div>
  <div class="col-md-3"></div>
</div>
